<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>

<body>
  <div id="filter-form">
    <form action="/category" method="POST">
      <select class="form-select " aria-label="Default select example">
        <option selected>SELECT CATEGORY</option>
        <% for(let y = 0; y < categories.length; y++) { %>
        <option value="1"><%=categories[y]%></option>
        <% } %>
      </select>
      <button type="submit">FILTER</button>
    </form>
    <form action="/organization" method="GET">
      <select class="form-select" aria-label="Default select example">
        <option selected>SELECT ORGANIZATION</option>
        <% for(let c = 0; c < organizations.length; c++) { %>
          <option ><%=organizations[c]%></option>
          <% } %>
      </select>
    </form>
  </div>

  <%- include('partials/_header') %>
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">Website</th>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>

    </thead>
    <% for(let i = 0; i < passwords.length; i++) { %>
    <tbody id="passwords_container">
      <tr>
        <td><%= passwords[i].name %></td>
        <td><%= passwords[i].website_username %></td>
        <td><%= passwords[i].website_password %></td>
    <form action="<%=passwords[i].id%>/copy" method="get"><td><button  id="copy">COPY</button></td></form>
    <td><a href="/edit/<%= passwords[i].id %>" ><button  id="edit">EDIT</button></a></td>
    <form action="<%=passwords[i].id%>/delete" method="POST"><td><button  id="edit">DELETE</button></td></form>
      </tr>
    </tbody>
    <% } %>
    <tfoot >
      <form action="/new" method="GET"><td>CREATE<button type="submit">NEW</button></td></form>
    </tfoot>
  </table>
</body>

</html>
